<div id="facets">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">

      <h3 class="facet-header">Subjects</h3>

      <% (@gallery_images.collect { |g| g.subject }).flatten.uniq.sort.reject(&:empty?).each do |subject| %>
        <li>
          <%= facet_link(subject) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
