<h2><%= field.to_s.capitalize.gsub(/_/, " ") %></h2>

  <% if params[field].nil? %>
    <% if @search.facet(field).rows.count == 1 %>
      <% @search.facet(field).rows.each do |f| %>
        <%= "#{f.value} (#{f.count})" %>
      <% end %>
    <% else %>
      <% @search.facet(field).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ (field) => f.value }))) %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to("#{params[field]} (remove)", url_for(params.merge({ (field) => nil }))) %>
  <% end %>
