 <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Quick Search</h2>
            </div>
        </div>
       <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Start typing a name">
                            <span class="input-group-btn">
                                <a class="btn btn-lg btn-success" type="submit" id="search-button">Go</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row" id="form-row-1">
            <h2 id="filter-heading">More Filters</h2>
            <div class="col-sm-offset-2 col-sm-4 form-group">
                <label></label>
                <h3>First Name or Initial</h3>
                <input class="form-control input-lg" type="text" placeholder="Start typing a name">
            </div>
            <div class="col-sm-4 form-group text-left">
                <label></label>
                <h3>Last Name</h3>
                <input class="form-control input-lg" type="text" placeholder="Start typing a name">
            </div>
            <div class="col-sm-2">
                <h3 id="search-muted">Search</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="checkbox-label">Search aliases</label>
                </div>
            </div>
        </div>
        <div class="row" id="form-row-1">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="btn-group btn-group-lg" id="form-button">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button">Gender <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> Age <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu col-xs-12" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="form-row-3">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button">Reason Admitted <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> Birth Location <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu col-xs-12" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="form-row-3">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> Race/Ethnicity <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> Religion <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu col-xs-12" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="form-row-2">
            <div class="col-sm-offset-2 col-sm-2" id="date-box">
                <h3>Date Admitted</h3>
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> Start Date <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <h3 id="date-muted">Date Admitted</h3>
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="form-button"> End Date <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 text-left" id="search-row">
                <h3 id="search-muted">Search</h3>
                <a class="btn btn-lg btn-primary" id="search-button">Search</a>
            </div>
        </div>
    </div>
</div>
