    <div class="section" id="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li id="crumb-nav">
                <a href="#">Home</a>
              </li>
              <li id="crumb-nav">
                <a href="#">Search Records</a>
              </li>
              <li class="active">Results</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>Search Results</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <p class="lead text-left" id="results-header">Results 1-100</p>
        </div>
        <div class="row">
          <div class="col-sm-1 col-sm-offset-2 text-right" id="list-number">1.</div>
          <table class="col-sm-4 text-left">
            <tbody>
              <tr>
                <th id="table-head">Name:</th>
                <td id="table-data">Gunter, George</td>
              </tr>
              <tr>
                <th id="table-head">Gender:</th>
                <td id="table-data">Male</td>
              </tr>
              <tr>
                <th id="table-head">Reason Admitted:</th>
                <td id="table-data">Arson</td>
              </tr>
              <tr>
                <th id="table-head">Date Admitted:</th>
                <td id="table-data">1871-03-01</td>
              </tr>
            </tbody>
          </table>
          <div class="col-sm-2 text-center">
            <a class="btn btn-default" id="search-button">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg">
              <li id="pagination-bar">
                <a href="#">Prev</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">Next</a>
              </li>
            </ul>
            <br>
            <h4>
              <a href="#">Download results as
              <br>JSON</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
         <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a href="#" id="back-arrow"><i class="fa fa-3x fa-arrow-circle-o-left fa-fw text-muted"></i></a>
          </div>
          <div class="col-sm-12" id="nav-link">
            <h4 id="back-arrow">Back to Search Results</h4>
          </div>
        </div>
      </div></div>
      </div>
    </div>
