<footer class="section" id="footer-all">
  <div class="container">

    <div class="col-sm-6" id="footer-column">
      <div class="row text-left">
        <h2 id="footer-text">Cincinnati House of Refuge Project</h2>
        <%= link_to "CC-BY, 2016", "https://creativecommons.org/licenses/by/3.0/us/", target: "_blank" %>
        <p>Carolyn Hansen, James Van Mil, Sean Crowe, Suzanne Reller</p>
      </div>
    </div>

      <div class="col-sm-6" id="footer-column">
      <div class="row text-right">
        <div class="hidden-xs col-sm-9 col-md-9 text-right" id="icon-container">
          <%= mail_to 'cincyhouseofrefuge@gmail.com', id: "envelope-icon" do %>
            <i class="fa fa-3x fa-envelope fa-fw"></i>
          <% end %>
          <%= link_to "http://www.github.com/jamesvanmil/house-of-refuge", target: "_blank", id: "git-icon" do %>
            <i class="fa fa-3x fa-fw fa-github"></i>
          <% end %>
        </div>
      </div>
    </div>
</footer>
