<div class="footer">
    <div class="container">
  <hr>
  <p class="text-center text-muted">
    Cincinnati House of Refuge Project<br>
    CC-BY, 2016<br>
    <%= link_to "Contact", "#" %>
  </p>
</div>
</div>
